body {
    font-family: Arial, sans-serif;
    background-color: #003e40;
    color: #e8ccb0;
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e8ccb0;
    padding: 1em;
    height: 120px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.head {
    width: 300px;
    padding-left: 20px;
    line-height: 80px;
    flex: 1;
    padding-bottom: 20px;
    margin: 0 40px 0 50px;
}

.nav {
    display: flex;
    align-items: center;
    font-weight: 700;
    flex: 2;
    margin: 0 3em;
    font-size: 18px;
}

.nav a {
    margin: 0 3em;
}

.nav a,
.button a,
.button2 a,
.end1 a,
.end2 a,
.end3 a {
    text-decoration: none;
    color: #003e40;
}

.button a{
    color: #e8ccb0;
}

.button{
    margin: 0 60px 0 40px;
}

.button
{
    background-color: #003e40;
    padding: 10px 15px;
    border-radius: 10px;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
}


.link {
    text-decoration: none;
    color: #003e40;
}

.link:hover {
    color: #463d35;
}

div a:hover,
nav a:hover,
.button a:hover {
    color: #a35c2d;
}


.menu-text {
    color: white !important;
    font-size: 22px !important;
    font-weight: normal !important;
}

.menu-img1 {
    height: auto;
    width: 100%;
}

.part-menu-text {
    margin: 80px 110px 0 110px;
}

.part3 {
    display: flex;
    /*margin: 0 110px 20px 110px;*/
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    background-color: #e8ccb0;
    padding: 10px;
    z-index: 100;
    margin-top: 120px;
}

.m1,
.m2,
.m3,
.m4 {
    font-size: 18px;
    color: #003e40;
    padding: 40px;
    text-decoration: none;
}

.part4,
.part5,
.part6,
.part7 {
    width: 1023px;
    margin:  20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.d1 img,
.d2 img,
.d3 img,
.c1 img,
.c2 img,
.c3 img,
.c4 img,
.c5 img,
.b1 img,
.b2 img,
.b3 img,
.o1 img,
.o2 img,
.o3 img {
    width: 316px;
    height: 416px;
    margin-bottom: 10px;
}

.c-t,
.d-t,
.b-t,
.o-t {
    margin-left: 120px;
    font-size: 24px;
}


.linkMethod {
    background-color: #A25C2E;
    height: 47px;
    width: 47px;
    position: relative;

}

.linkMethod:hover {
    background-color: white;

}

.linkMethod:hover .icon2 {
    color: #A25C2E;
}

footer {
    color: #003e40;
    background-color: #E8CCB0;
    height: 200px;
    position: relative;

}


.linkMethod2 {

    height: 30px;
    width: 30px;
    margin-right: 5px;
    position: relative;

}

.linkMethod2:hover {
    background-color: white;
}




@media  (max-width: 600px){
     footer{
         height: 500px;
         padding-top: 10px;
 
     }
     /*.nav {
         flex-direction: column;
         align-items: center;
         text-align: center;
       }*/
       .part-menu-text {
        margin: 20px 60px;
    }
     p{
         font-size: 0.8em;
     }
     .part1 {
        flex-direction: column; 
        height: 300px; 
        padding: 6px; 
        
    }
    .part3{
        top: 300px;
    }

    .head {
        width: 100%; 
        padding: 10px; 
        line-height: normal; 
        text-align: center; 
    }

    .nav {
        flex-direction: column; 
        align-items: center; 
        margin:0; 
    }

    nav a {
        margin: 5px 0;
    }

    .button {
        margin-top:0; 
    }
 
     .menu-img1 {
         width: 200%;
     }
     .part3 {
         margin: 0; 
     }
 
     .m1, .m2, .m3, .m4 {
         padding: 10px; 
     }
 
     .part4, .part5, .part6, .part7 {
         width: 60%; 
         margin: 20px auto; 
         display: grid;
         grid-template-columns: 1fr; 
         justify-content: center;
         align-items: center;
     }
 
     .d1 img, .d2 img, .d3 img,
     .c1 img, .c2 img, .c3 img, .c4 img, .c5 img,
     .b1 img, .b2 img, .b3 img,
     .o1 img, .o2 img, .o3 img {
         width: 100%; 
         height: auto; 
         margin-bottom: 10px;
     }
 
     .c-t, .d-t, .b-t, .o-t {
         margin-left: 120px; 
         font-size: 20px; 
     }
 
 
 .linkMethod2 {
 
     height: auto;
     width: auto;
     margin-right: 5px;
     position: relative;
 }
 }
 
 @media  (min-width: 601px)and (max-width: 1024px){
     /*footer{
          height: 500px;
          padding-top: 10px;
  
      }*/
      /*.nav {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }*/
        .part-menu-text {
            margin: 20px 90px 20px;
        }
      p{
          font-size: 0.8em;
      }
      .part1 {
          height: 155px;
      }
  
      .menu-img1 {
          width: 100%;
      }
      .part3 {
          top: 150px;
      }
  
      .m1, .m2, .m3, .m4 {
          padding: 10px; 
      }
  
      .part4, .part5, .part6, .part7 {
          width: 80%; 
          margin: 20px auto; 
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          align-items: center;
          gap:6px;
      }
  
      .d1 img, .d2 img, .d3 img,
      .c1 img, .c2 img, .c3 img, .c4 img, .c5 img,
      .b1 img, .b2 img, .b3 img,
      .o1 img, .o2 img, .o3 img {
          width: 90%; 
          height: auto; 
          margin-bottom: 10px;
      }
  
      .c-t, .d-t, .b-t, .o-t {
          margin-left: 120px; 
          font-size: 20px; 
      }
  }
